h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  /* position: fixed; */
  /* top: 15%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  font-family: 'Times New Roman', Times, serif;
}


body {
  background-color: #9FBFB5;
  width: 100%;
}

.Question {
  #question-text {
    text-align: center;
    font-size: 36px;
    /* position: fixed; */
    /* top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* width: fit-content; */
    /* width: 100%; */

  }

}

.Waiting {
  display: flex;
  justify-content: center;
  text-align: center;
}

.Answer-List {

  text-align: center;
  display: block;
}

.border {
  margin: 10px 10px;
}


.button {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  /* align-items: center; */
  /* justify-items: center; */
  width: 40%;
}