@font-face {
  font-family: 'Jua';
  src: url('../fonts/Jua-Regular.ttf') format('truetype'); /* Adjust the path and format if necessary */
  font-weight: normal;
  font-style: normal;
}

h1 {


  font-family: 'Jua', sans-serif;
}

h2 {



  font-family: 'Jua', sans-serif;
}

body {
  background-color: #9FBFB5;
}
.Question {
  font-family: 'Jua', sans-serif;
  margin-top: 5%;
  align-items: center;
  justify-items: center;
  justify-self: center;
  align-self: center;
  background-color:#95B6AC ;
  border-radius: 15px;
  padding:5px;

}

.Title
{
  margin-top: 5%;
  align-items: center;
  justify-items: center;
  justify-self: center;
  align-self: center;
  background-color:#95B6AC ;
  border-radius: 15px;
  padding:5px;
}

.Waiting {
  display: flex;
  justify-content: center;
  text-align: center;
}

.Answer-List {

  text-align: center;
  display: block;

}

.border {
  margin: 10px 10px;
}


.button {
  font-family: 'Jua', sans-serif;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  /* align-items: center; */
  /* justify-items: center; */
  width: 40%;
}

#answer-a
{
  background-color: #235de7;
  font-family: 'Jua', sans-serif;

  border: none;
  border-radius: 5px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  /* align-items: center; */
  /* justify-items: center; */
  width: 40%;
}
#answer-b
{
  background-color: #a1111c;
  font-family: 'Jua', sans-serif;

  border: none;
  border-radius: 5px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  /* align-items: center; */
  /* justify-items: center; */
  width: 40%;
}
#answer-c
{
  background-color: #067a10;
  font-family: 'Jua', sans-serif;

  border: none;
  border-radius: 5px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  /* align-items: center; */
  /* justify-items: center; */
  width: 40%;
}
#answer-d
{
  background-color: #bbae10;
  font-family: 'Jua', sans-serif;

  border: none;
  border-radius: 5px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  /* align-items: center; */
  /* justify-items: center; */
  width: 40%;
}

