h1 {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: #9FBFB5;
}

.Question {
  position: fixed;
  text-align: center;
  font-size: 36px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.Answer-List {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-items: center;
  width: 40%;
}