body {
    margin: 0;
    overflow: hidden; /* Prevents scrollbars */
}

.image-container {
    position: absolute;
    z-index: -10;
    left: 0;
    transform: translateY(-50%);
    white-space: nowrap; /* Prevents line breaks for the image */
}

.looping-image {
    height: 900px; /* Adjust the height as needed */
}