@font-face {
  font-family: 'Jua';
  src: url('../fonts/Jua-Regular.ttf') format('truetype'); /* Adjust the path and format if necessary */
  font-weight: normal;
  font-style: normal;
}

h1 {


  font-family: 'Jua', sans-serif;
}

h2 {



  font-family: 'Jua', sans-serif;
}

.Title
{
  margin-top: 5%;
  align-items: center;
  justify-items: center;
  justify-self: center;
  align-self: center;
  background-color:#95B6AC ;
  border-radius: 15px;
  padding:5px;
}

body {
  background-color: #9FBFB5;
}

.Client-Join {
  font-family: 'Jua', sans-serif;
  margin-top: 5%;
  background-color: #1D96B6;
  border-radius: 5px;
  padding: 30px;
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  align-items: center;
  justify-items: center;
  justify-self: center;
  align-self: center;


}

.Back-Button {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  /* Add these properties */
  position: absolute; /* or fixed */
  top: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
}
#join-button {
  font-family: 'Jua', sans-serif;
  padding: 10px 20px; /* Add padding for better appearance */
  display: block; /* Ensure it behaves as a block element */
  margin: 0 auto; /* Center the button horizontally */
  text-align: center; /* Center text inside the button */
}