.Main-Button {



}

#finish-game-btn
{

    padding: 10px
;

    align-items: center;
    justify-items: center;
    justify-self: center;
    align-self: center;

}

body {
    background-color: #9FBFB5;
    height: 100%;
}
.stats
{
    padding: 10px
;

    align-items: center;
    justify-items: center;
    justify-self: center;
    align-self: center;

    background-color: cadetblue;
    border-radius: 10px;

}
body {
    margin: 0;
    overflow: hidden; /* Prevents scrollbars */
}

.image-container {
    position: absolute;

    left: 0;
    transform: translateY(-50%);
    white-space: nowrap; /* Prevents line breaks for the image */
}

.looping-image {
    height: 900px; /* Adjust the height as needed */
}