@font-face {
    font-family: 'Jua';
    src: url('../fonts/Jua-Regular.ttf') format('truetype'); /* Adjust the path and format if necessary */
    font-weight: normal;
    font-style: normal;
}

h1 {


    font-family: 'Jua', sans-serif;
}

h2 {



    font-family: 'Jua', sans-serif;
}

body {
    background-color: #9FBFB5;
}

.Host-Client {
    background-color: #1D96B6;
    border-radius: 20px;
    margin-top: 1%;

    gap: 10px;
    align-items: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    padding: 30px;
}

.Main-Button {
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-items: center;
}

.filedrag
{
    font-weight: bold;
    text-align: center;
    width: 300px;
    height: 50px;
    padding: 40px;

    color: #555;
    border: 2px dashed #555;
    border-radius: 20px;
    cursor: default;
}

.Title
{
    margin-top: 5%;
    align-items: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    background-color:#95B6AC ;
    border-radius: 15px;
    padding:5px;
}
.option
{
    margin-top: 10%;
    background-color:#95B6AC ;
    border-radius: 15px;
    padding:5px;


    align-items: center;
    justify-items: center;
    justify-self: center;
    align-self: center;

}
#submit-btn
{
    background-color: #3459af;
    border: none;
    border-radius: 15px;
    padding:5px;
    margin: 5px;
}